<div id="header_image">
    <img src="img/title.jpg" height="91" width="477" alt="Transylwahnja title">
</div>
<div id="language_flags">
    <ul>
        <li>
            <a href="./de/"><img src="img/deutsch.gif" width="38" height="26" alt="deutche sprache"></a>
        </li>
        <li>
            <a href="/"><img src="img/slovak.gif" width="38" height="26" alt="slovenský jazyk"></a>
        </li>
    </ul>
</div>
<div id="date_panel">
    <script>
        var mesiace = new Array("január", "február", "marec", "apríl", "máj", "jún", "júl", "august", "september", "október", "november", "december");
        var dni_v_tyzdni = new Array("nedeľa", "pondelok", "utorok", "streda", "štvrtok", "piatok", "sobota");
        var dnes = new Date();
        var el = document.getElementById("date_panel");
        el.textContent = "Dnes je " + dni_v_tyzdni[dnes.getDay()] + " " + dnes.getDate() + "." + mesiace[dnes.getMonth()] + " " + dnes.getFullYear();
    </script>
</div>