<html lang="sk">

<head>
	<title>:: Ranč Transylwahnja - Rodinná biofarma :: </title>
	<meta http-equiv=Content-Type content="text/html; charset=utf-8">
	<meta name="keywords" content="KOMPOST, BIO FARMA, UBYTOVANIE, SHIRE
         HORSE, DOVOLENKA , TURISTIKA, ŠVAJČIARI, JERSEY, FERIEN AUF DEM BIOHOF, BIOPRODUKT, Rodinná farma, biofarma">
	<link href="style.css" rel="stylesheet" type="text/css">
</head>