<section>
    <h2>Oznam</h2>
    <div class="info">
        <h3>Biotábor</h3>
        <p>
            24.7.2010-1.8.2009
            <br>rezervujte si miesto!
            <br>stiahnite si
            <br><a href="foto/biotabor2010.pdf">plagátik</a>
        </p>
    </div>
    <div class="info">
        <h3>Predáme BIOZEMIAKY</h3>
        <p>
            objednajte si
        </p>
    </div>
    <div class="info">
        <h3>Dovolenka u nás</h3>
        <p>
            poskytujeme ubytovanie
        </p>
    </div>
</section>
<section>
    <h2>Letáčik</h2>
    <div class="info">
        <p>
            <a href="foto/letak1.jpg">1.strana</a>
            <a href="foto/letak2.jpg">2.strana</a>
        </p>
    </div>
</section>
<section>
    <h2>Strategickí partneri</h2>
    <ul>
        <li><a href="http://www.ffmm.sk">Mašekov Mlyn, Vráble</a></li>
        <li><a href="http://www.biospotrebitel.sk">Biospotrebiteľ</a></li>
        <li><a href="http://www.ekoprodukt.sk">Ekoprodukt</a></li>
        <li><a href="http://www.anastasia.sk">Anastásia</a></li>
        <li><a href="http://www.greenpeace.sk">Greenpeace</a></li>
        <li><a href="http://www.biomed.sk">Biomed</a></li>
        <li><a href="http://www.bread.babinovo.sk">Breadfriends</a></li>
        <li><a href="http://www.trotting.sk">Trotting Slovakia</a></li>
        <li><a href="http://www.farmatuska.sk">Farma Tuška</a></li>
    </ul>
</section>