<section id="main_content">
    <h1>Biofarma</h1>
    <p>
        Už od roku 1994 praktizujeme ekologické poľnohospodárstvo, v súčasnosti už s Bio-certifikátom. Druhovo vhodný
        chov zvierat má u nás veľký význam, preto nielen dobytok a kone majú denný výbeh, ale aj naše prasiatka, sliepky
        a nosnice sú denne na čerstvom vzduchu. Obhospodarujeme naše polia bez akýchkoľvek umelých hnojív, pesticídov a
        fungicídov.
    </p>
    <p>
        Naše bio-krmivo nie je zaťažené živočíšnymi bielkovinami, geneticky upraveným obilím a účinnými látkami
        (hormóny, antibiotiká a psychofarmaká). Riadime sa podľa mesačných fáz (Maria Thun). Pri problémoch s dobytkom a
        v poľnohospodárstve používame s veľkým úspechom homeopatiká.
    </p>
</section>