<aside id="info_banner">
    Internetová stránka Ranču Transylwahnja sprístupňuje informácie o chove koní, komposte, ekologickom
    poľnohospodárstve a výrobe domácich potravín rodiny Pipovcov. Uplatňuje princípy <a
        href="http://www.agrowebcee.net" target="_blank"><b>AgroWeb Networku</b></a>, ktorého cieľom je výmena
    skúseností medzi agro-ekologicky zameranými ľuďmi, organizáciami a farmami produkujúcimi biopotraviny.
</aside>
<section id="main_content">
    <h1>Čo nového na ranči</h1>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2019april.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2019april_m.jpg" alt="Západ slnka">
        </a>
        <time datetime="2019-04-01">apríl 2019</time>
        <h2>Nesnívaj o svojom živote, ale ži svoj sen</h2>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/kone-perseus1.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/kone-perseus1_m.jpg" alt="Perzeus">
        </a>
        <time datetime="2019-04-01">apríl 2019</time>
        <h2>Na ranč prichádza Perzeus</h2>
        <p>Nový úžasný kôň, ktorého sme si osvojili priamo z aktívneho mezinárodného
            Military sportu. Či krása v drezúre, prechádzky vo výške 170cm alebo
            vytrvalosť v teréne, to je Perzeus.
            Teraz, po spoľahlivo odpracovaných 18 rokoch si môže užívať konský raj na
            ranči. Ďalšie fotky nájdete v galérii.
        </p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2019kravicka.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2019kravicka_m.jpg" alt="Kravička">
        </a>
        <time datetime="2019-04-01">apríl 2019</time>
        <h2>Obnovujeme aj mliečnu produkciu</h2>
        <p>Na ranči sme privítali Jersey kravičku Barboru.</p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018jesen.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2018jesen_m.jpg" alt="Jeseň 2018">
        </a>
        <time datetime="2018-10-01">október 2018</time>
        <h2>Opravené, upratané, oživené.</h2>
        <p>Užívame si prírodu. Prajeme všetkým zdravie a lásku v srdci.</p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018nakladne_auto.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2018nakladne_auto_m.jpg" alt="">
        </a>
        <time datetime="2018-08-01">august 2018</time>
        <h2>Pracanti aj s novým 6 kolesovým pomocníkom z roku 1954</h2>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018koniec_prenajmu.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2018koniec_prenajmu_m.jpg" alt="">
        </a>
        <time datetime="2018-02-01">fabruár 2018</time>
        <h2>Ukončili sme prenajatie</h2>
        <p>Máme opraty opäť vo vlastných rukách.</p>
    </article>
</section>
<section class="pagination">
    <h1>Archív noviniek</h1>
    <p>
        1 | <a href="ranc.php?page_id=2">2</a> | <a href="ranc.php?page_id=3">3</a>
    </p>
</section>