<section id="main_content">
    <h1>Fotogaléria</h1>
    <section>
        <h2>Kompostovanie na ranči Transylwahnja</h2>
        <article class="galery">
            <figure><img src="/foto/kompostm1.jpg" alt="kompost" data-big-picture="/foto/kompost1.jpg"></figure>
            <figure><img src="/foto/kompostm2.jpg" alt="kompost" data-big-picture="/foto/kompost2.jpg"></figure>
            <figure><img src="/foto/kompostm3.jpg" alt="kompost" data-big-picture="/foto/kompost3.jpg"></figure>
            <figure><img src="/foto/kompostm4.jpg" alt="kompost" data-big-picture="/foto/kompost4.jpg"></figure>
            <figure><img src="/foto/kompostm5.jpg" alt="kompost" data-big-picture="/foto/kompost5.jpg"></figure>
            <figure><img src="/foto/kompostm6.jpg" alt="kompost" data-big-picture="/foto/kompost6.jpg"></figure>
            <figure><img src="/foto/kompostm7.jpg" alt="kompost" data-big-picture="/foto/kompost7.jpg"></figure>
            <figure><img src="/foto/kompostm8.jpg" alt="kompost" data-big-picture="/foto/kompost8.jpg"><figcaption>Zavlažovanie s cistrenou</figcaption></figure>
            <figure><img src="/foto/kompostm9.jpg" alt="kompost" data-big-picture="/foto/kompost9.jpg"><figcaption>Vyklopená obracačka</figcaption></figure>
            <figure><img src="/foto/kompostm10.jpg" alt="kompost" data-big-picture="/foto/kompost10.jpg"><figcaption>Obracačka v akcii</figcaption></figure>
            <figure><img src="/foto/kompostm11.jpg" alt="kompost" data-big-picture="/foto/kompost11.jpg"><figcaption>Zetor s extra pomalou rýchlosťou</figcaption></figure>
            <figure><img src="/foto/kompostm12.jpg" alt="kompost" data-big-picture="/foto/kompost12.jpg"><figcaption>Drvička Daltec</figcaption></figure>
            <figure><img src="/foto/kompostm13.jpg" alt="kompost" data-big-picture="/foto/kompost13.jpg"><figcaption>Drvička v akcii</figcaption></figure>
        </article>
    </section>
</section>