<section id="main_content">
    <h1>Kompostovanie</h1>
    <section>
        <h2>Máte problémy s kompostovaním?</h2>
        <p>Obce a mestá majú od 1. januára 2006 novú povinnosť. Musia zabezpečiť zhodnotenie bioodpadu zo záhrad,
            parkov, cintorínov a z ďalšej zelene, teda tzv. zeleného bioodpadu. Nesmú ho spaľovať ani skládkovať. </p>
        <p>Ponúkame Vám riešenie s bohatou ponukou praktických služieb a poradenstva.</p>
        <p>Naša rodinná farma získala certifikát ekologického poľnohspodárstva s produkciou biopotravín.</p>
        <article class="photos">
            <img src="/foto/kompostm1.jpg" alt="kompost" data-big-picture="/foto/kompost1.jpg">
            <img src="/foto/kompostm11.jpg" alt="kompost" data-big-picture="/foto/kompost11.jpg">
            <img src="/foto/kompostm14.jpg" alt="rezačka" data-big-picture="/foto/kompost14.jpg">
        </article>
        <p>V súvislosti s prevádzkou ekologickej „BIOFARMY“ máme už niekoľkoročnú prax s praktickým kompostovaním.
        </p>
    </section>
    <section>
        <h2>Ponuka služieb:</h2>
        <ol>
            <li>Podarenstvo:
                <ul>
                    <li>týkajúce sa kompostovania v mestách a obciach</li>
                    <li>návšteva obce s obhliadkou a návrhom praktického riešenia</li>
                    <li>vypracovanie technologického postupu nakladania s bioodpadom s ohľadom na individuálne podmienky mesta/obce</li>
                    <li>poradenstvo pre skvalitnenie prevádzky</li>
                    <li>overovanie kvality a zrelosti kompostu</li>
                </ul>
            </li>
            <li>Školenia:
                <ul>
                    <li>1-dňová exkurzia s praktickou ukážkou prevádzky kompostovania</li>
                    <li>2-dňový praktický kurz pre prevádzkárov kompostovísk v obciach a mestách</li>
                    <li>možnosť ďalšieho rozšírenia vzdelania na 4-dňovom kurze pod vedením špičkových zahraničných lektorov</li>
                    <li>aktivity pre podporu domáceho kompostovania</li>
                </ul>
            </li>
        </ol>
    </section>
    <section>
        <h2>Fotogaléria:</h2>
        <p><a href="/kompostovanie-foto">Kompostovanie na ranči Transylwahnja</a></p>
    </section>
</section>