<section id="main_content">
    <h1>O nás</h1>
    <section>
        <h2>O nás</h2>
        <ul>
            <li>Katarina Pipová je diplomovanou ošetrovateľkou zvierat</li>
            <li>Máme dve deti: Charly 1999, Enya 2001</li>
            <li>Materinský jazyk: nemčina/slovenčina, ešte ovládame angličtinu a madarčinu</li>
        </ul>
        <p>V roku 1993 som sa presťahovala zo Švajčiarska na Slovensko. Na našej farme hospodárime podľa biologických zásad. Náš dvor leží v idylickej doline, v juhovýchodnej časti Slovenska, na južnej trase z Bratislavy do Košíc. Najbližšie ležiaca dedina sa nazýva Nižná Kaloša a leží medzi Rimavskou Sobotou a Tornaľou. </p>
        <p>Obhospodarujeme 28 ha rodinnej farmy s dobytkárstvom, poľnohospodárstvom, pasienkami, ovocným sadom, lesom a kontrolovaným prameňom pitnej vody. Chod celého hospodárstva si zabezpečíme z 90 % z vlastných prostriedkov, samozásobovaním vytvárame rôzne produkty z nášho mlieka a pečieme z našich obilnín. </p>
        <p>Z rodinných dôvodov sme farmu pár rokov prenajímali. Teraz už gazdujeme my. </p>
    </section>
    <section>
        <h2>Ranch Transylwahnja 2. kapitola</h2>
        <p>Roland a Katarína: tím obnovy od roku 2017 so štyrmi nohatými a štyrmi kolesovými pomocníkmi.</p>
        <article class="photos">
            <img src="/foto/2018onas_m.jpg" alt="kompost" data-big-picture="/foto/2018onas.jpg">
        </article>
    </section>
    <section>
        <h2>Naša filozofia</h2>
        <ul>
            <li>aktívna ochrana životného prostredia</li>
            <li>kvalita pred kvantitou</li>
            <li>ekologické hospodárenie</li>
            <li>prinášanie regionálneho osohu a podpory</li>
            <li>kompost: hodnotné zlepšenie pôdy</li>
            <li>priblíženie prirodzeného kolobehu </li>
            <li>deti a príroda</li>
        </ul>
        <p>Viac si prečítate v rubrike <a href="/media">Médiá o nás</a>.</p>
    </section>
</section>