<section id="main_content">
    <h1>Zvieratá</h1>
    <section>
        <h2>Kone</h2>
        <article class="photos">
            <img src="/foto/2018kone_m.jpg" alt="kone" data-big-picture="/foto/2018kone.jpg">
        </article>
        <p>Kedysi sme chovali 2 Shirské kone. V súčasnosti sú shirské kone iba v snoch, ale čo nie je, opäť bude.</p>
        <p>Naše stádo obsahuje:</p>
        <ul>
            <li>klusácka kobyla "Kaulana"</li>
            <li>kríženec Kladrub x Pinto "Jimi"</li>
            <li>kobylka poníka "Linda" so žrebčekom "Koli"</li>
        </ul>
    </section>
    <section>
        <h2>Dobytok:</h2>
        <article class="photos">
            <img src="/foto/2019kravicka_m.jpg" alt="kravička" data-big-picture="/foto/2019kravicka.jpg">
        </article>
        <p>Jersey kravicka Barbora</p>
    </section>
    <section>
        <h2>Hydina:</h2>
        <article class="photos">
            <img src="/foto/kohutm.jpg" alt="kohút" data-big-picture="/foto/kohut.jpg">
        </article>
        <p>Zopár sliepok a moriek</p>
    </section>
    <section>
        <h2>Psy:</h2>
        <article class="photos">
            <img src="/foto/pesm.jpg" alt="pes" data-big-picture="/foto/pes.jpg">
        </article>
        <p>Strážny pes</p>
    </section>
    <section>
        <h2>Mačky:</h2>
        <article class="photos">
            <img src="/foto/mackym.jpg" alt="mačky" data-big-picture="/foto/macky.jpg">
        </article>
        <p>Lovci myší</p>
    </section>
</section>